<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>eKYC</title>
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="{{ url_for('static', path='css/ekyc.css') }}" rel="stylesheet">
</head>
<body>
<div class="sidebar">
    <div class="logo-content">
        <div class="logo">
            <div class="logo-name">MENU</div>
        </div>
        <i class='bx bx-menu' id="menu-btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <i class='bx bx-search-alt-2'></i>
            <input type="text" placeholder="Search here...">
            <!-- <span class="tooltip">Search</span> -->
        </li>
        <li>
            <a href="home">
                <i class='bx bx-home'></i>
                <span class="links-name">Home</span>
            </a>
            <span class="tooltip">Home</span>
        </li>
        <li>
            <a href="extractor">
                <i class='bx bx-id-card'></i>
                <span class="links-name">ID Extractor</span>
            </a>
            <span class="tooltip"> ID Extractor</span>
        </li>
        <li>
            <a href="ekyc">
                <i class='bx bxs-face'></i>
                <span class="links-name">eKYC</span>
            </a>
            <span class="tooltip">eKYC</span>
        </li>
    </ul>
    <div class="profile-content">
        <div class="profile">
            <div class="profile-details">
                <img src="static/assets/profiles/profile.jpg" alt="">
                <div class="name-job">
                    <div class="name">Vu-Thu-Nguyet Pham</div>
                    <div class="job">Data Scientist</div>
                </div>
            </div>
            <i class='bx bx-log-out' id="logout"></i>
        </div>
    </div>
</div>
<div class="app">
    <div class="logo">
        <div class="img_cs">
            <img src="static/assets/logo/neuralmed.svg" alt="neuralmed"/>
        </div>
        <h1>eKYC v1.0</h1>
        <h4>@ Developed by Vu-Thu-Nguyet Pham @</h4>
    </div>

    <div class="overlay">
        <div class="loading_wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
            <span>Extracting...</span>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <button class="icon" onclick="startCamera()"><i class="fas fa-camera"></i></button>
        </div>
        <div id="videoElementContainer" style="display: none;">
            <video id="videoElement" width="100%" height="100%"></video>
        </div>
    </div>

</div>
<script src="{{ url_for('static', path='js/ekyc.js') }}"></script>
</body>
</html>
